<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            perform_query();
        });

        function perform_query() {
            let word = 'apple';
            let api_key = 'b36125bc-3838-4896-8587-ef4143d109f4';
            let  url = `https://www.dictionaryapi.com/api/v3/references/collegiate/json/${word}?key=${api_key}`;
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function(response) {
                    console.log(response);
                }
            });
        }
    </script>
</head>
<body>
    
</body>
</html>